<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/surfspots/new" method="POST">

            Name: <input type="text" name="name"  /><br/>
            Image: <input type="text" name="image" /><br/>
            Coordinates: <input type="text" name="coordinates" /><br/>
            Description: <input type="text" name="description" /><br/>
            Ideal Conditions: <input type="text" name="idealConditions" /><br/>
            Quiver Selection: <input type="text" name="quiverSelection" /><br/>
            Surfline Link: <input type="text" name="checkTheCam" /><br/>

            <input type="submit" value="Add Spot" />
        
    </form>
</body>
</html>